.back{
  background-image:url('../images/countryside.jpg');
  background-color:black;
   background-size:100%auto;
   height: 100%;
   width: 100%;
   };

   .question{
    font-size: 20px;
    
   }

   .font{
    font-family: Arial;

   }